#toppingsOnPizza, #review, #pizzaSize {
  display: none;
}

.container {

}

form, #review {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

form {
  padding: 10%;
}
 ul {
   list-style: none;
 }
